html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'SF Pro Display', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(159deg, #151517 0%, #262629 100%);
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  
  .nav-iso, .nav-tools {
    text-decoration: none;
    position: absolute;
    top: 30px;
    color: rgb(168, 168, 168);
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
  }

  .nav-slash {
    position: absolute;
    top: 30px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .nav-slash {
    left: 50%;
    transform: translateX(-8900%); /* centrum */
  }
  
  .nav-tools {
    left: 50%;
    transform: translateX(-900%); /* przesunięcie w lewo */
  }
  
  .nav-iso {
    left: 50%;
    transform: translateX(-900%); /* przesunięcie w prawo */
  }
  .avatar {
    width: 61px;
    height: 61px;
    position: absolute;
    top: 205px;
    left: 50%;
    transform: translateX(-900%); /* w lewo */
    border-radius: 20px;
  }
  
  .name {
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateX(-296%); /* w lewo */
    color: white;
    font-size: 40px;
    font-weight: 700;
  }
  
  .description {
    position: absolute;
    top: 295px;
    left: 50%;
    transform: translateX(-120%);
    color: white;
    font-size: 32px;
    font-weight: 500;
  }
  
  .github-button {
    width: 168px;
    height: 46px;
    position: absolute;
    top: 470px;
    left: 50%;
    transform: translateX(-325%);
    background: #1F1F21;
    border-radius: 10px;
    border: 1px solid #393939;
  }
  
  .github-text {
    position: absolute;
    text-decoration: none;
    top: 482px;
    left: 50%;
    transform: translateX(-590%);
    color: white;
    font-size: 20px;
    font-weight: 400;
  }
  
  .main-img {
    width: 705px;
    height: 459px;
    position: absolute;
    top: 123px;
    left: 50%;
    transform: translateX(0.0%);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-left, .card-center, .card-right {
    width: 377px;
    height: 212px;
    position: absolute;
    top: 650px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-left {
    left: 50%;
    transform: translateX(-160%);
  }
  .card-center {
    left: 50%;
    transform: translateX(-40%);
  }
  .card-right {
    left: 50%;
    transform: translateX(80%);
  }
  
  .card-title-left, .card-title-center, .card-title-right {
    position: absolute;
    top: 656px;
    color: #BCBDC0;
    font-size: 14px;
    font-weight: 700;
  }
  
  .card-title-left {
    left: 50%;
    transform: translateX(-325%);
  }
  .card-title-center {
    left: 50%;
    transform: translateX(-10%);
  }
  .card-title-right {
    left: 50%;
    transform: translateX(840%);
  }
  
  .card-desc-left, .card-desc-center, .card-desc-right {
    position: absolute;
    top: 688px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  
  .card-desc-left {
    left: 50%;
    transform: translateX(-175%);
  }
  .card-desc-center {
    left: 50%;
    transform: translateX(-41%);
  }
  .card-desc-right {
    left: 50%;
    transform: translateX(94%);
  }
  
  .underline {
    width: 62px;
    height: 3px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-847%);
    background: #27D4E1;
  }
  
  .icon {
    width: 29px;
    height: 29px;
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translateX(-1476%);
  }
  
  @media (max-width: 1400px) {
    .main-img {
        width: 635px;
        height: 389px;
    }
    .avatar {
        width: 59px;
        height: 59px;
        top: 175px;
        left: 50%;
        transform: translateX(-920%); /* w lewo */
    }
    .name {
        font-size: 38px;
        font-weight: 700;
        top: 185px;
        left: 50%;
        transform: translateX(-310%); /* w lewo */
    }
    .description {
        font-size: 30px;
        font-weight: 500;
        top: 255px;
        left: 50%;
        transform: translateX(-127%);
    }
    .github-text {
        top: 463px;
        left: 50%;
        transform: translateX(-585%);
        font-size: 20px;
        font-weight: 400;
    }
    .github-button {
        width: 154px;
        height: 46px;
        top: 450px;
        left: 50%;
        transform: translateX(-345%);
    }
    .icon {
        width: 28px;
        height: 28px;
        top: 462px;
        left: 50%;
        transform: translateX(-1526%);
    }
  }
  @media (max-width: 1200px) {
    .main-img {
        width: 0px;
        height: 0px;
    }
    .avatar {
        width: 59px;
        height: 59px;
        top: 175px;
        left: 50%;
        transform: translateX(-400%); /* w lewo */
    }
    .name {
        font-size: 38px;
        font-weight: 700;
        top: 185px;
        left: 50%;
        transform: translateX(-110%); /* w lewo */
    }
    .description {
        font-size: 28px;
        font-weight: 500;
        top: 255px;
        left: 50%;
        transform: translateX(-57%);

        white-space: nowrap; /* NIE zawijaj do nowej linii */
        overflow: visible;    /* pokazuj cały tekst */
        max-width: none;      /* brak ograniczeń szerokości */
    }
    .github-text {
        top: 443px;
        left: 50%;
        transform: translateX(-235%);
        font-size: 20px;
        font-weight: 400;
    }
    .github-button {
        width: 164px;
        height: 46px;
        top: 430px;
        left: 50%;
        transform: translateX(-137%);
    }
    .icon {
        width: 28px;
        height: 28px;
        top: 442px;
        left: 50%;
        transform: translateX(-376%);
    }

    .card-left, .card-center, .card-right {
        width: 427px;
        height: 252px;
        position: absolute;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        left: 50%;
        transform: translateX(-50%);
      }
      
      .card-left {
        top: 650px;
      }
      .card-center {
        top: 950px;
      }
      .card-right {
        top: 1250px;
      }

      .card-title-left, .card-title-center, .card-title-right {
        position: absolute;
        color: #BCBDC0;
        font-size: 17px;
        font-weight: 700;
      }
      
      .card-title-left {
        left: 50%;
        top: 656px;
        transform: translateX(-50%);
      }
      .card-title-center {
        left: 50%;
        top: 956px;
        transform: translateX(-60%);
      }
      .card-title-right {
        left: 50%;
        top: 1256px;
        transform: translateX(-60%);
      }

    .card-desc-left, .card-desc-center, .card-desc-right {
        position: absolute;
        color: white;
        font-size: 17px;
        font-weight: 400;
        line-height: 21px;
        left: 50%;

        white-space: nowrap; /* NIE zawijaj do nowej linii */
        overflow: visible;    /* pokazuj cały tekst */
        max-width: none;      /* brak ograniczeń szerokości */
      }
      
      .card-desc-left {
        top: 688px;
        transform: translateX(-49%);
      }
      .card-desc-center {
        top: 988px;
        transform: translateX(-51%);
      }
      .card-desc-right {
        top: 1288px;
        transform: translateX(-48%);
      }

      .nav-slash {
        left: 50%;
        transform: translateX(-3600%); /* centrum */
      }
      
      .nav-tools {
        left: 50%;
        transform: translateX(-350%); /* przesunięcie w lewo */
      }
      
      .nav-iso {
        left: 50%;
        transform: translateX(-230%); /* przesunięcie w prawo */
      }

      .underline {
        width: 62px;
        height: 3px;
        top: 70px;
        left: 50%;
        transform: translateX(-373%);
      }
  }
