body {
    font-family: 'Pixelify Sans', sans-serif;
    background:black;
    height: 100%;
    z-index: 0;  
}
.box {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 1030px;
    height: calc(100% - 60px); 
    background-color: black; 
    outline: 4px solid white;
    z-index: 1000;
    left: 50px;
}
.title {
    position: absolute;
    color:white;
    font-size: 50px;
    font-weight: 100;
    left: 170px;
    top: 20px;
    left: 50px;
}

.btw {
    position: absolute;
    color:#ccc;
    font-style: italic;
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 100;
    left: 50px;
    top: 90px;
}
.nodecoration {
    text-decoration: none;
    color: #ccc;
}
.nodecoration:hover {
    text-decoration: underline;
}
.btw2 {
    color:#ccc;
    font-style: italic;
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 100
}
.description {
    position: absolute;
    color:white;
    font-size: 20px;
    font-weight: 100;
    left: 50px;
    top: 120px;
}
.coolsites {
    position: absolute;
    color:white;
    font-size: 20px;
    font-weight: 100;
    left: 50px;
    top: 170px;
}
.badges {
    position: absolute;
    left: 50px;
    top: 205px;
}
.mybadgetext {
    position: absolute;
    color:white;
    font-size: 20px;
    font-weight: 100;
    left: 50px;
    top: 260px;
}
.mybadge {
    position: relative;
    left: 50px;
    top: 295px;
    font-size: 15px;
}
.minibox {
    position: absolute;
    width: 700px;
    height: 90px;
    top: 60px;
    outline: 4px solid white;
    z-index: 1000;;
    color:white;
}
.badgecode {
    position: absolute;
    left: 10px;
}
pre {
    position: absolute;
    top: 360px;
    left: 25px;
    width: calc(100% - 80px);
    height: 180px;
    background: black;
    color: white;
    padding: 10px;
    border: 1px solid white;
    margin-top: 10px;
    overflow-x: auto;
    font-family: monospace;
    font-size: 12px;
    height: 180px;
}

/* =======================
   SIDEBAR
======================= */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background: black;
    border-left: 3px dashed white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    transition: transform 0.3s ease;
    transform: translateX(0);
}

.sidebar.hidden {
    transform: translateX(100%);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 100;
}

.sidebar a:hover {
    color: #f0f0f0;
}


.submenu {
    display: none; 
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.submenu li {
    margin: 10px 0;
}

.submenu a {
    font-size: 18px;
    color: #ccc;
}

.submenu a:hover {
    color: white;
}

.bucketwebring {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 100%;
}

.bucketwebring a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.bucketwebring a:hover {
    text-decoration: underline;
}

.menu-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    z-index: 10000;
    cursor: pointer;
}

/* padający śnieg */
#snow-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 1;           
}
/* =======================
   DESKTOP
======================= */

@media (min-width: 1310px) {
    .menu-toggle {
        display: none;
    }

    .sidebar {
        transform: translateX(0);
    }
}

@media (max-width: 1310px) {
    /* mobile sidebar */
    .sidebar {
        transform: translateX(100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }
}
@media (max-width: 1160px) {
    .bucketwebring {
        bottom: 35px;
    }
    .box {
    width: calc(100% - 130px);
    max-width: 1200px;
    min-width: 300px;
    }
     
    .minibox {
        width: calc(100% - 90px);
        max-width: 700px;

        overflow-x: auto;
        overflow-y: hidden;
    }
    .badgecode {
        position: relative;
        white-space: nowrap;   /* albo nowrap */
        display: inline-block;
    }
}
@media (max-width: 900px) {
    .coolsites {
        top: 190px;
    }
    .badges {
        top: 215px;
    }
    .mybadgetext {
        top: 260px;
    }
    .mybadge {
        top: 295px;
    }
    .minibox {
        top: 65px;
    }
}

@media (max-width: 630px) {
    .coolsites {
        top: 220px;
    }
    .badges {
        top: 245px;
    }
    .mybadgetext {
        top: 325px;
    }
    .mybadge {
        top: 360px;
    }
    .minibox {
        top: 65px;
    }
}
@media (max-width: 490px) {
    .description {
        top: 130px;
    }
    .coolsites {
        top: 240px;
    }
    .badges {
        top: 275px;
    }
    .mybadgetext {
        top: 390px;
    }
    .mybadge {
        top: 430px;
    }
    .minibox {
        top: 65px;
    }
}
