body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    background: #191824;
  }
  
  .container {
    height: 100%;
    min-height: 760px;
    width: 100vw;
    position: absolute;
    overflow-x: hidden;
  }
  
  .title {
    position: absolute;
    left: 261px;
    top: 65px;
    color: #DFE0F5;
    font-size: 40px;
    font-weight: 700;
  }
  
  .avatar {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 130px;
    top: 59px;
    border-radius: 20px;
  }
  
  .square-box {
    width: 43px;
    height: 43px;
    position: absolute;
    background: #26263B;
    border-radius: 10px;
    border: 2px solid rgba(225, 226, 251, 0.3);
  }
  
  .square-box.left {
    left: 262px;
    top: 117px;
  }
  
  .square-box.right {
    left: 325px;
    top: 117px;
  }
  
  .line {
    width: 88vw;
    height: 3px;
    left: 6vw;
    top: 190px;
    background: rgba(241, 186, 184, 0.7);
    display: flex;
    position: absolute;
  }

  .slash {
    position: absolute;
    left: 100vw;
    transform: translateX(-570px);
    top: 89px;
    text-align: center;
    color: rgba(241, 185, 181, 0.6);
    font-size: 20px;
    font-weight: 500;
    line-height: 43px;
    text-decoration: none;
  }

  .projects {
    position: absolute;
    left: 100vw;
    transform: translateX(-510px);
    top: 89px;
    text-align: center;
    color: rgba(241, 185, 181, 0.6);
    font-size: 20px;
    font-weight: 500;
    line-height: 43px;
    text-decoration: none;
  }
  
  .tools {
    position: absolute;
    left: 100vw;
    transform: translateX(-370px);
    top: 89px;
    text-align: center;
    color: rgba(241, 185, 181, 0.6);
    font-size: 20px;
    font-weight: 500;
    line-height: 43px;
    text-decoration: none;
  }
  
  .iso {
    position: absolute;
    left: 100vw;
    transform: translateX(-260px);
    top: 89px;
    text-align: center;
    color: rgba(241, 185, 181, 0.6);
    font-size: 20px;
    font-weight: 500;
    line-height: 43px;
    text-decoration: none;
  }

  .icon {
    width: 24px;
    height: 24px;
    position: absolute;
    overflow: hidden;
  }
  
  .left-icon {
    left: 273px;
    top: 127px;
    color: #DFE0F5;
    fill: #DFE0F5;
    mask-image: #DFE0F5;
  }
  
  .right-icon {
    left: 336px;
    top: 128px;
    color: #DFE0F5;
    fill: #DFE0F5;
    mask-image: #DFE0F5;
  }
  
  .icon .fill {
    color: #DFE0F5;
    fill: #DFE0F5;
    mask-image: #DFE0F5;
    text-decoration: none;
    mask-image: #DFE0F5;
    width: 24px;
    height: 24px;
    position: absolute;
  }
    .bottomtext {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 1700;
    opacity: 0.5;
  }

  .search-box {
    
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.search-box input {
  color: white;
  background: #26263B;
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #F1B9B5;
  color: #191824;
  cursor: pointer;
}

#anime-results {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  color: white;
  
}

#anime-results div {
  width: 200px;
  background: #26263B;
  
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#anime-results img {
  width: 100%;
  border-radius: 8px;
}

#anime-results h3 {
  font-size: 16px;
  color: #F1B9B5;
}

#anime-results p,
#anime-results a {
  font-size: 14px;
  color: #DFE0F5;
  
}
  
 @media (max-width: 1000px) {
  .line {
    top: 220px;
  }
    .slash {
    position: absolute;
    left: 150px;
    transform: translateX(0px);
    top: 170px;
    }
    .projects {
    position: absolute;
    left: 180px;
    transform: translateX(0px);
    top: 170px;
    }
  
  .tools {
    position: absolute;
    left: 280px;
    transform: translateX(0px);
    top: 170px;
  }
  
  .iso {
    position: absolute;
    left: 350px;
    transform: translateX(0px);
    top: 170px;
  }
 }
  